server:
  address: 0.0.0.0
  port: 8080

spring:
  application:
    name: spring-boot-prometheus-demo

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
